@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #6794ec;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
  font-family: 'Russo One', sans-serif;
  padding: 20px;
}

.Card {
  padding: 20px 20px 20px 20px;
  /* max-width: 18rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  color: #6794ec;
  font-family: 'Russo One', sans-serif;
  
  
}



